<div class="ps-home-banner ps-home-banner--1">

    <div class="ps-container">

        <div class="ps-section__left indexSlider">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1"
                data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                <div class="ps-banner bg--cover" data-background="/assets/img/slider/home-1/slide-1.jpg">
                    <a class="ps-banner__overlay" href="shop-default.html"></a>
                </div>
            </div>
        </div>
        <!-- Right side ads section -->
        <div class="ps-section__right">
            <a class="ps-collection" href="#">
                <img src="/assets/img/slider/home-1/promotion-1.jpg" alt="">
            </a>
            <a class="ps-collection" href="#">
                <img src="/assets/img/slider/home-1/promotion-2.jpg" alt="">
            </a>
        </div>

    </div>

</div>