<div class="ps-deal-of-day">
    <div class="ps-container">
        <div class="ps-section__header">
            <div class="ps-block--countdown-deal">
                <div class="ps-block__left">
                    <h3>Deals of the day</h3>
                </div>
                <div class="ps-block__right">
                    <figure>
                        <figcaption>End in:</figcaption>
                        <ul class="ps-countdown" data-time="December 30, 2021 15:37:25">
                            <li><span class="days"></span></li>
                            <li><span class="hours"></span></li>
                            <li><span class="minutes"></span></li>
                            <li><span class="seconds"></span></li>
                        </ul>
                    </figure>
                </div>
            </div><a href="#">View all</a>
        </div>

        <div class="ps-section__content  sliderDealsOfTheDay"></div>
    </div>
</div>