<%- include('./components/head/head') %>
    </head>

    <body>
        <%- include('./components/headerWeb/headerWeb') %>

            <div class="ps-my-account-2">
                <div class="container">
                    <div class="d-flex justify-content-center mb-5">
                        <h1>Claford</h1>
                    </div>

                    <div id="alertShow" class="my-3 text-center"></div>
                    <form class="ps-form--account ps-tab-root" id="authResetPass">
                        <div class="ps-form__content">
                            <h4>Password assistance</h4>
                            <p class="mt-3">By typing your new password twice, your account will be set with your new password.</p>
                            <div class="form-group form-forgot">
                                <label for="password" class="mb-2">Password</label>
                                <input class="form-control" type="password" value="Jashly326" name="password" id="password">
                                <p class="form-group-input-error"></p>
                            </div>
                            <div class="form-group form-forgot">
                                <label for="cpassword" class="mb-2">Confirm password</label>
                                <input class="form-control" type="password" value="Jashly326" name="cpassword" id="cpassword">
                                <p class="form-group-input-error"></p>
                            </div>

                            <div class="form-group submtit">
                                <button class="ps-btn ps-btn--fullwidth" id="SignUp">Continue</button>
                            </div>
                        </div>
                    </form>


                    <div class="ps-section__wrapper">
                    </div>
                </div>
            </div>


            <%- include('./components/footer/footer') %>
                <script src="/assets/js/main.js"></script>
                <script src="/assets/js/account-set-password.js"></script>
    </body>

    </html>