<%- include('./components/head/head') %>
    <style>
        .passMargin {
            margin-bottom: 6rem;
        }
        /* .accrc-msg {
            margin-bottom: 1.5rem;
            text-align: center;
            max-width: 85%;
        } */
    </style>
    </head>

    <body>
        <%- include('./components/headerWeb/headerWeb') %>

            <div class="ps-page--my-account">

                <div class="ps-my-account-2">
                    <div class="container">
                        <div class="d-flex justify-content-center mb-5">
                            <!-- Need to be a photo -->
                            <h2>Claford</h2>
                        </div>

                        <div id="alertShow" class="my-3 text-center"></div>

                        <div class="row justify-content-center">
                            <div class="accrc-msg">
                                <h1 class="">Check your email</h1>
                                <p class="">If you can't find our message, it might be in your spam/junk in your email provider. The email expires in 24 hours.</p>
                                <div class="form-group submtit mt-4" id="submtit">
                                    <a href="javascrip:void(0)" class="ps-btn ps-btn--fullwidth" id="btn-RsendEmalAcc">Resend the email for reset account</a>
                                </div>

                            </div>
                            <!-- <p>Have issue with your email? <a href="/auth/recovery-mobile?uaid=${decodedEmail}" class="text-primary">Recover with phone number.</a></p> -->

                        </div>
                        <p class="text-center">
                            For assistance accessing your account,
                            <a href="/contacts" class="text-primary">please contact us 24/7.</a>
                        </p>
                    </div>
                </div>
            </div>


            <%- include('./components/footer/footer') %>
                <script src="/assets/js/main.js"></script>
                <script src="/assets/js/account-recovery-check-email.js"></script>
    </body>

    </html>